# lidar/config/slam_toolbox_params.yaml
slam_toolbox:
  ros__parameters:

    # === 基本帧设置 ===
    use_sim_time: false
    odom_frame: odom
    map_frame: map
    base_frame: base_link
    scan_topic: /scan
    mode: mapping                     # 直接写死 mapping 模式

    # === 激光相关 ===
    scan_queue_size: 10
    max_laser_range: 12.0
    minimum_travel_distance: 0.01     # 1cm 就更新
    minimum_travel_heading: 0.01      # 约 0.5°

    # === 地图发布相关 ===
    map_update_interval: full               # 也可以写 incremental
    map_update_interval: 1.0
    resolution: 0.05
    transform_publish_period: 0.02    # 50Hz 发 map→odom，关键！

    # === 优化器（默认就行）===
    solver_plugin: solver_plugins::CeresSolver
    ceres_linear_solver: SPARSE_NORMAL_CHOLESKY
    ceres_preconditioner: SCHUR_JACOBI
    ceres_trust_strategy: LEVENBERG_MARQUARDT
    ceres_max_iterations: 20

    # === 可选：自定义地图话题名（你想要 /slam_map）===
    map_topic: /slam_map
    map_publish_topic: /slam_map
    autostart: true